using System;
using System.Linq;
using System.Collections.Generic;

namespace AdventOfCode2020 {

    class Day? : Day
    {
        public override long Part1(string input)
        {
            throw new NotImplementedException();            
        }

        public override long Part2(string input)
        {
            throw new NotImplementedException();
        }

        const string testData =
@"";        
    }
}