using System;
using System.Linq;
using System.Collections.Generic;

namespace AdventOfCode2020 {

    class Day2 : Day
    {
        public override int Part1(string input)
        {
            throw new NotImplementedException();            
        }

        public override int Part2(string input)
        {
            throw new NotImplementedException();
        }
    }
}